<div class="p-4">
  <%= f.fields_for :banks do |bank_form| %>
    <h4><%= t(:'comun.banco') %></h4>

      <%= check_box_with_label(bank_form, t(:'banco.borrar_banco')) %>
      <%= form_field_with_label(bank_form, t(:'comun.nombre'), :name) %>

      <%= form_field_with_label(bank_form, t(:'banco.cuenta'), :account) %>

  <% end %>
</div>