<div class="w-full md:w-1/2 py-10 px-5 md:px-10">
<%= form_with model: provider, id: "provider_form" do |f| %>
  <h4><%= t(:agregar_proveedor, scope: [:proveedores, :formulario]) %></h4>

    <%= form_field_with_label(f, t(:nombre, scope: [:comun]) ) %>

    <%= form_field_with_label(f, t(:'proveedores.formulario.nombre_contacto')) %>


    <%= form_field_with_label(f, t(:'proveedores.formulario.nit')) %>

    <%= form_field_with_label(f, t(:'proveedores.formulario.telefono')) %>

  <%= add_nested_bank(provider, f) %>

  <%= submit_provider_form(provider) %>
<% end %>
</div>
