<%= form_with model: provider, id: "provider_form" do |f| %>
  <h4><%= t(:agregar_proveedor, scope: [:proveedores, :formulario]) %></h4>
  <div class="pt-4">
    <%= f.label t(:nombre, scope: [:comun]) %>
    <%= f.text_field :name %>
  </div>

  <div class="pt-4">
    <%= f.label t(:'proveedores.formulario.nombre_contacto') %>
    <%= f.text_field :contact_name %>
  </div>

  <div class="pt-4">
    <%= f.label t(:'proveedores.formulario.nit') %>
    <%= f.text_field :nit, maxlength: 11, minLength: 9 %>
  </div>

  <div class="pt-4">
    <%= f.label t(:'proveedores.formulario.telefono') %>
    <%= f.text_field :phone, maxlength: 10, minLength: 9 %>
  </div>

  <div class="p-4">
    <%= f.fields_for :banks do |bank_form| %>
      <h4><%= t(:banco, scope: [:comun]) %></h4>
      <div class="nested-fields">
        <%= bank_form.label t(:'comun.nombre') %>
        <%= bank_form.text_field :name %>

        <%= bank_form.label t(:'banco.cuenta') %>
        <%= bank_form.text_field :account, :maxlength => 15, minLength: 15  %>

        <% unless provider.persisted? %>
          <%= bank_form.check_box :_destroy %>
          <%= bank_form.label :_destroy, t(:'banco.borrar_banco') %>
        <%end %>
      </div>
    <% end %>
  </div>

  <%= submit_provider_form(provider) %>
<% end %>
