<div class="grid grid-cols-2">
  <%= turbo_frame_tag 'edit_provider' do %>
    <%= provider_card(@provider, true) %>
  <% end %>
  <%= button_to( t(:'comun.link_borrar'),provider_path(@provider.id), method: :delete, class: red_btn) %>
  <%= link_to t(:'homepage.link_proveedores'), providers_path, class: blue_btn %>
</div>

<%= render @banks %>