<div id="<%= dom_id bank %>">
<%= link_to "Ir a cuenta", bank_path(bank.id) %>
<%= turbo_frame_tag "bank_edit_#{bank.id}" do %>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-teal-600"><%= bank.name %></div>
        <p class="text-gray-700 text-base">
          <%= bank_account(bank.account) %>
        </p>
      </div>

        <div class="px-6 pt-4 pb-2">

          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2 mb-2 hover:text-blue-500"> <%= link_to '', edit_bank_path(bank), class: edit_btn %></span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:text-red-500">
              <%= button_to raw(delete_btn),
                            { controller: "banks", action: "destroy", id: bank.id },
                            method: :delete
              %>
          </span>

        </div>

    </div>
  <% end %>
</div>