<div class="max-w-sm rounded overflow-hidden shadow-lg" id="<%= dom_id bank %>">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= link_to bank.name, bank_path(bank) %></div>
    <p class="text-gray-700 text-base">
      <%= bank_account(bank.account) %>
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> <%= link_to '', edit_bank_path(bank), class: edit_btn %></span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        <%= button_to '',
                      { controller: "banks", action: "destroy", id: bank.id },
                      method: :delete,
                      class: delete_btn
        %>
    </span>
  </div>
</div>