<%= form_with model: bank, id: "bank_form" do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% if bank.persisted? %>
    <%= f.submit 'Update Bank', class: blue_btn %>
  <% else %>
    <%= f.submit 'Create Bank', class: blue_btn %>
  <% end %>
<% end %>

<div>
  <%= link_to 'Back', banks_path %>
</div>