<%= form_with model: bank, id: "bank_form" do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="mb-3">
    <%= f.label :account %>
    <%= f.text_field :account, :maxlength => 15, minLength: 15 %>
  </div>

  <%= submit_bank_form(bank) %>
<% end %>
