<%= form_with model: bank, id: "bank_form" do |f| %>
  <div class="mb-3">
    <%= f.label t(:'comun.nombre') %>
    <%= f.text_field :name %>
  </div>

  <div class="mb-3">
    <%= f.label t(:'banco.cuenta') %>
    <%= f.text_field :account, :maxlength => 15, minLength: 15 %>
  </div>

  <div>
    <%= f.label t(:'banco.formulario.proveedor') %>
    <%= select("bank", "provider_id", Provider.all.collect {|p| [ p.name, p.id ] }) %>
  </div>

  <%= submit_bank_form(bank) %>
<% end %>
