<div class="grid grid-cols-2 bank__container">

  <div class="py-2">
    <%= render 'form', bank: @bank %>
  </div>

  <div>
    <%= will_paginate @banks %>

    <div  class="py-5 h-full">
      <%= turbo_stream_from dom_id current_user %>

        <div class="overflow-auto bank__card" id="<%= dom_id current_user %>">
          <%= render @banks %>
      </div>
    </div>
  </div>
</div>