
<section class="relative min-h-screen flex">
  <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-white">
    <div class="sm:w-1/2 xl:w-3/5 h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden bg-emerald-900 text-white bg-no-repeat bg-cover relative">
      <div class="absolute bg-gradient-to-b from-teal-600 to-green-500 opacity-75 inset-0 z-0"></div>
      <div class="w-full  max-w-md z-10">
        <div class="sm:text-4xl xl:text-5xl font-bold leading-tight mb-6">Reference site about Lorem Ipsum..</div>
        <div class="sm:text-sm xl:text-md text-gray-200 font-normal">
          What is Lorem Ipsum Lorem Ipsum is simply dummy
          text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it
          has?
        </div>
      </div>
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full xl:w-2/5 p-8  md:p-10 lg:p-14 sm:rounded-lg md:rounded-none bg-white">
      <div class="max-w-md w-full space-y-8">
        <div class="text-center">
          <h2 class="mt-6 text-3xl font-bold text-gray-900">
            Welcom Back!
          </h2>

          <p class="mt-2 text-sm text-gray-500">Please sign in to your account</p>
          <p class="mt-2 text-sm text-gray-500">  <%= render 'devise/sessions/session_error' %></p>

        </div>
        <div class="flex items-center justify-center space-x-2">
          <span class="h-px w-16 bg-gray-200"></span>
          <span class="h-px w-16 bg-gray-200"></span>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "mt-8 space-y-6") do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email, class: "ml-3 text-sm font-bold text-gray-700 tracking-wide" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-teal-500" %>
          </div>

          <div class="field mt-8 content-center">
            <%= f.label :password, class:"ml-3 text-sm font-bold text-gray-700 tracking-wide" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-teal-500" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="flex items-center justify-between mt-8">
              <div class="field flex items-center">
                <%= f.check_box :remember_me, class: "sq-checkbox h-4 w-4 bg-blue-500 focus:ring-green-400 border-gray-300 rounded" %>
                <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
              </div>
              <div class="text-sm">
                <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-teal-400 hover:text-green-500" %>
              </div>
            </div>
          <% end %>

          <div class="actions mt-8">
            <%= f.submit "Log in", class: "w-full flex justify-center bg-gradient-to-b from-teal-600 to-green-500  hover:bg-gradient-to-l hover:from-teal-600 hover:to-green-500 text-gray-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500" %>
          </div>
          <p class="flex flex-col items-center justify-center mt-10 text-center text-md text-gray-500">
            <span>Don't have an account?</span>
            <% if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name), class: "text-teal-400 hover:text-green-500 no-underline hover:underline cursor-pointer transition ease-in duration-300" %>
            <% end %>
          </p>
        <% end %>

      </div>
    </div>
  </div>
</section>
