<!DOCTYPE html>
<html>
  <head>
    <title>Bancos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= navbar_if_signed_in %>
      <%= turbo_frame_tag 'error_message' %>
      <%= turbo_frame_tag 'message' %>
      <%= yield %>
  </body>
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</html>
